@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

body {
  font-family:'Raleway',sans-serif;
}

h2,h3 {
  color:#525252;
  line-height: 1.5;
}
h3 {
 font-size:1em;
 padding:0;
}

.btn.bg-green {
  width:100px;
  background-color:#0AA550;
  border:2px solid #0AA550;
}

.btn.bg-green:hover {
  background-color:white;
  color: #0AA550;
}

.grid-title {
  margin-top:1em;
  font-size:2.5em;
  font-weight:900;
  text-transform: uppercase;
}

.wrapper{
  padding: 2em 2.5em;
}

.text-box {
  margin:1.5em 0;
  text-align: justify;
}