div #app{
    background-color:grey;
    background-image:url('/background.jpg');
    min-height: 100vh;
}

#content {
    background-color:#fff;
    min-height:100vh;
}

#content.container {
    padding:0;
}