.btn-add-to-cart{
    width:130px;
    background-color:#001381;
    border-color:#001381;
}

.btnStyles:hover{
    color:white;
    background-color:#7fe6e6
}

.btnStyles {
    border-radius: 0;
    width:100px;
    color:white;
    background-color:#00cece;
}
.incrementWrapper .qtyBtn {
    width: 40px !important;
    height: 40px;
    line-height: 25px;
}
.incrementWrapper span {
    padding: 0 10px;
    font-size: 18px;
}

.qtyBtn{
    background-color:#999999;
    border: 1px solid #eee
}