.btn-add-to-cart{
    width:130px;
    background-color:#e85d4a;
    border-color:#e85d4a;
}

.btnStyles:hover{
    color:white;
    background-color:#7fe6e6
}

.btnStyles {
    border-radius: 0;
    width:100px;
    color:white;
    background-color:#00cece;
}
.incrementWrapper .qtyBtn {
    width: 40px;
    height: 40px;
    line-height: 25px;
}
.incrementWrapper span {
    display:inline-block;
    text-align:center;
    width: 18px;
    font-size: 16px;
}

.incrementWrapper {
    width:100%;
}

.qtyBtn{
    background-color:#999999;
    border: 1px solid #eee;
}

#sidebar-cart .incrementWrapper .qtyBtn {
    width:35px;
    height:35px;
    line-height: 22px;
}