.single-date {
    text-align: center;
    padding:1em 0.75em;
    margin-bottom:1em;
    border:1px solid black;
    cursor: pointer;
    height:70px;
}

.single-date:hover{
    background-color:teal;
}

.single-date:focus{
    background-color:blue;
}

.single-date p {
    padding:0;
    margin:0;
}