span{
    padding:0.25em;
}
.inpage-cart-button{
    padding:1em 1em;
}
.inpage-cart-button .text {
    font-size:1em;
}

@media (max-width: 768px) { 
    .inpage-cart-button .text {
        display:none;
    }
}