.footer-container{
    padding: 2em 0;
    background-color:rgba(0, 0, 0, 0.85);
}

.footer-logo{
    width:150px;
}

.footer-list{
    list-style-type: none;
    color:white;
}

.sub-footer-container{
    padding-top:1em;
    font-size:0.8em;
    background-color:rgb(0,0,0);
    color:white;
}